/* Estilo global para o corpo */
body {
    background-color: #1A1A1A;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/* Estilo do contêiner principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilo do cabeçalho */
header {
    background-color: #E3C88F;
    padding: 10px ,10px;
    display: flex;
    justify-content: space-between;
    align-items:end;
}
/* Adicione essas regras CSS para criar um efeito de animação ao h2 */
/* Adicione essas regras CSS para criar um efeito de animação ao h2 */
h2 {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    animation: blink 1s infinite; /* Adiciona a animação 'blink' */
}

/* Define a animação 'blink' */
@keyframes blink {
    0%, 49%, 100% {
        opacity: 0; /* Define a opacidade para 0% nos momentos chave */
    }
    50%, 99% {
        opacity: 1; /* Define a opacidade para 100% nos momentos chave */
    }
}


/* Estilo do logotipo e barra de pesquisa */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 40px; /* Tamanho máximo para o logotipo da Catedral */
    position: absolute;
    left:250px;
    border-radius: 10px;  
    padding: 10px;
    margin-top:-30px;
    
     /* Move o logo para o canto superior esquerdo */

}

.search {
    margin-left: 5px;
    position: absolute;
    right:250px;   
    margin-top:-18px;  
}

#search-input {
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Estilo do ícone */
.icon-img {
    max-width: 30px;
    height: auto;
    cursor: pointer;
}

/* Estilo da seção principal */
main {
    flex: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo do contêiner de imagem individual */
.image-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Estilo do texto sobre a imagem */
.image-container h2 {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* Estilo da imagem com transição de zoom */
.image-container img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom ao passar o mouse sobre a imagem */
.image-container:hover img {
    transform: scale(1.1);
}

/* Estilo da linha de imagens */
.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilo do bloco de imagem individual na linha */
.image-block {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

/* Estilo da imagem individual na linha com transição de zoom */
.image-block img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom ao passar o mouse sobre a imagem na linha */
.image-block:hover img {
    transform: scale(1.1);
}

/* Estilo da caixa de mensagem flutuante */
.mensagem-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}

/* Estilo do rodapé */
footer {
    background-color: #E3C88F;
    padding: 5px 0;
    text-align: center;
    margin-top: auto;
}

/* Estilo dos links sociais no rodapé */
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilo do contêiner de destaques */
.destaques-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Estilo da caixa de destaque individual */
.destaque-box {
    width: calc(33.3% - 20px);
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Estilo do título dentro da caixa de destaque */
.destaque-box h3 {
    color: white;
    text-align: center;
}

/* Estilo da lista não ordenada dentro da caixa de destaque */
.destaque-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo dos itens da lista dentro da caixa de destaque */
.destaque-box li {
    margin-bottom: 5px;
}

/* Estilo dos links dentro da caixa de destaque */
.destaque-box a {
    color: white;
    text-decoration: none;
}

/* Estilo da seta no rodapé */
.arrow-img {
    max-width: 30px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    position: absolute;
    left: 20px; /* Ajuste a posição à esquerda conforme necessário */
    bottom: 20px; /* Ajuste a posição inferior conforme necessário */
    z-index: 999; /* Certifique-se de que a seta esteja sobre outros elementos */
}
