/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Bloco */
.fundo {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.cabecalho {  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: #E3C88F;
}

.cabecalho_imagem {
  height: 5vh;
  max-width: 100%;
  border-radius: 15px;
}

.cabecalho_imagem:hover {
  border: 2px solid #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.cabecalho_pesquisa {
  display: flex;
  align-items: center;
  gap: 1em;
}

#search-input {
  background-color: white;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  transition: width 0.3s ease, margin 0.3s ease;
}

#search-input:focus {
  width: 80%;
  margin: 5px auto;
}

.sessao_principal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.principal {
  margin: 3vh auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
  width: 50%;
  max-width: 1200px;
}

.principal_card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
}

.principal_card_titulo {
  color: aliceblue;
  font-size: 2em;
}

.principal_card_img {
  width: 100%;
  border-radius: 1em;
  gap: 1em;
}

.principal_card_img:hover {
  border: 2px solid #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.principal_minicards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: center;
  gap: 10em;
}

.principal_minicard {
  width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.principal_minicard_titulo {
  color: aliceblue;
  font-size: 1.5em;
  margin: 0.5em;
}

.principal_minicard_img {
  width: 100%;
  max-height: 40vh;
  border-radius: 0.5em 1em 1em 1em;
  margin-top: 1em;
  gap: 20em;
}

.principal_minicard_img:hover {
  border: 2px solid #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.conteudo_sessao {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;  
}

.conteudo_titulo {
  font-size: 2.5em;
  color: aliceblue;
  margin: 1em 0;
  text-align: center;
}

.conteudo_card {
  width: 15em;
  border-radius: 0.5em 1em 1em 1em;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  cursor: pointer;
}

.conteudo_card_titulo {
  color: aliceblue;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  height: 2em;
  padding: 10px;
  background-color: #333;
}

.conteudo_card_img {
  width: 15em;
  border-radius: 0.5em 1em 1em 1em;
}

.resultado_pesquisa {
  position: absolute;
  width: 100vh;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

#resultado_cards {
  display: none;
  flex-direction: column;
}

.resultado_card {
 background-color:#212121;
 text-align: left;
 border-radius: 12px;
 padding:20px,0,8px;
}

.resultado_card_titulo {   color:rgba(225,225,225);   font-size:20px; font-family: Roboto, Arial, sans-serif;
  padding: 15px;}

.resultado_card_titulo:hover{
  color: #333;
}

.resultado_card_tema {
  color: aliceblue;
}

.conteudo_card:hover {
  transform: scale(1.05);
}

.conteudo_card:hover .conteudo_card_titulo {
  color:cadetblue;
  cursor: pointer;  
}

.conteudo_vermais {
  background-color: #E3C88F;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 50px;
}

.conteudo_vermais:hover {
  background-color: #333;
  color: #E3C88F;
}

#conteudo_vermais {
  margin-top: 1em;
}

.Rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: #E3C88F;
  margin-top: auto;
}

.link-rodape {
  height: 100%;
  display: flex;
  align-items: center;
}

.rodape-img {
  height: 40px;
  width: auto;
  margin: 0 10px;
  border-radius: 20px;
}

#img_discord {
  height: 63px;
  width: 60px;
  margin-left: 1px;
}

.resultado_pesquisa {
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  position: absolute;
  top: 10%;
  margin-top: 0;
  transition: box-shadow 0.3s ease;
}

.resultado_pesquisa:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#scroll-top-link {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #E3C88F;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#scroll-top-link:hover {
  background-color: #333;
  color: #E3C88F;
}

@media only screen and (max-width: 600px) {
  body {
      margin-top: 100vh;
      margin-bottom: 2em;
  }


  .cabecalho {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 20vw;
      width: 100%;
      margin: 0 auto;
  }

  .cabecalho_pesquisa {
      gap: 1em;
      text-align: center;
      display: flex;
      justify-content: space-between;
  }

  .cabecalho_imagem {
      align-items: center;
  }

  #search-input {
      width: 90%;
      margin: 5px auto;
      text-align: center;
      display: inline-block;
      background-color: white;
      padding: 5px;
      display: none;
  }

  #search-icon {
      cursor: pointer;
      flex-shrink: 0;
  }

  #search-icon.active + #search-input {
      display: inline-block;
  }

  .sessao_principal {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
  }

  .principal {
      margin: 3vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5em;
      width: 100%;
  }

  .principal_card {
      height: auto;
      max-width: 100%;
      padding-left: 20px;
      margin: 1em 0.5em;
      align-items: center;
  }
  .principal_card_titulo {
    font-size: 1.5em;
  }

  .principal_card_img {
      width: 40vh;
      height: auto;
  }

  .principal_minicards {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      margin-bottom: 2em;
      margin: 0 auto;
  }

  .conteudo_sessao{
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
  }
  #scroll-top-link {
      right: 20%;
  }

  .Rodape {
      display: flex;
      flex-direction: row;
      padding: 10px;
  }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {

  .principal{
    width: 90%;
  }

  .principal_minicards {
    width: 80%;
    margin: 0 auto 2em; 
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  
  .conteudo_sessao {
    display: flex;
    gap: 3vw;
    justify-content: center;
    flex-wrap: wrap;
  }
  
}

@media only screen and (max-width:2000px){
/*
aplicar para telas maiores 
*/


} 