/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------- */

.fundo {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.cabecalho {  
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #E3C88F;
}

.cabecalho_imagem {
  height: 5vh;
  max-width: 100%; 
  border-radius: 15px;
}

.cabecalho_imagem:hover{
    border: 2px solid #333;
    cursor: pointer;
    transition: border-color 0.3s;
  }


.cabecalho_pesquisa {
  display: flex;
  align-items: center; /* Alinha os itens ao centro */
  gap: 1em;
}

#search-input {
  background-color: white;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: none; /* Inicialmente oculto */
}

#search-icon {
  cursor: pointer;
}


#search-input {
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.sessao_principal {
    width: 100%;
    display: flex;
}

.principal {
    margin: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6em auto;
    margin-right: 5.5em;
    gap: 5em;
    width: 50vw;
}

.principal_card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    height: 50vh;
}

.principal_card_titulo {
    color: aliceblue;
    font-size: 2.5em;
}

.principal_card_img {
    height: inherit;
    width: inherit;
    border-radius: 1em;
    width: 50vw;
}

.principal_card_img:hover{
  border: 2px solid #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.principal_minicards {
    width: 56vw;
    display: flex;
    gap: 4em;
    margin-bottom: 3.5em;
}

.principal_minicard {
    width: 50%;
}

.principal_minicard_titulo {
    color: aliceblue;
    font-size: 1.5em;
    margin: 0.5em;
}

.principal_minicard_img {
    width: 78%;
    height: 25vh;
    border-radius: 0.5em 1em 1em 1em;
}

.principal_minicard_img:hover{
  border: 2px solid #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.conteudo_sessao {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

.conteudo_titulo {
  font-size: 2.5em;
  color: aliceblue;
  margin: 1em 0;
}

.conteudo_card {
  width: 15em;
  border-radius: 0.5em 1em 1em 1em;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  cursor: pointer;
}

.conteudo_card_titulo {
  color: aliceblue;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding: 10px;
  background-color: #333;
}

.conteudo_card_img {
<<<<<<< HEAD
    width: 15em;
    border-radius: 0.5em 1em 1em 1em;
}

.resultado_pesquisa {
    background-color: #E3C88F;
    width: 20vw;
    height: 0;
    transition: 0.2s;
}

#resultado_cards {
    display: none;
    flex-direction: column;
    
}

.resultado_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3em;
    background-color: aliceblue;
    padding: 0.5em;
    border-bottom: 0.5vh solid #b49a61;
}
=======
  width: 100%;
  height: 15em; 
  object-fit: cover;
  border-radius: 0.5em 1em 1em 1em;
}


.conteudo_card:hover {
  transform: scale(1.05);
}

.conteudo_card:hover .conteudo_card_titulo {
  background-color: #E3C88F;
  color: #333;
  cursor: pointer;
}

.conteudo_vermais {
  background-color: #E3C88F;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
}

.conteudo_vermais:hover {
  background-color: #333;
  color: #E3C88F;
}



.Rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #E3C88F;
  margin-top: auto; 
}

.link-rodape {
  height: 100%; 
  display: flex;
  align-items: center;
}

.rodape-img {
  height: 40px;
  width: auto; 
  margin: 0 10px; 
  border-radius: 20px;
}

#scroll-top-link {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #E3C88F;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#scroll-top-link:hover {
  background-color: #333;
  color: #E3C88F;
}



@media only screen and (max-width: 600px) {
  /* Estilos para telas menores ou iguais a 600px de largura */
  
  .cabecalho {
      flex-direction: column;
      justify-content: space-around;
      height: auto;
  }

  .cabecalho_pesquisa {
      flex-direction: column;
      width: 100%;
      gap: 1em;
  }

  .cabecalho_imagem {
      justify-content: center; 
      align-items: center; 
  }

  #search-input {
      width: 100%;
      margin: 5px; /* Ajusta a margem para melhor visualização */
  }

  .principal {
      width: 90vw;
      margin: 2em auto;
      gap: 2em;
  }

  .principal_card {
      height: auto;
  }

  .principal_card_img {
      width: 100%;
  }

  .principal_minicards {
      width: 90vw;
      gap: 2em;
      margin-bottom: 2em;
  }

  .conteudo_sessao {
      gap: 1em;
  }

  .conteudo_card_img {
      width: 100%;
  }
}
>>>>>>> 577ecfeba48ef0570c7d07806917258a10730163
